<launch>
    <!-- 包含 Gazebo 世界的启动文件，并设置暂停参数 -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="true"/>
    </include>

    <!-- 静态转换发布节点 -->
    <node name="tf_footprint_base" pkg="tf" type="static_transform_publisher"
          args="0 0 0 0 0 0 base_link base_footprint 40" />

    <!-- 模型加载节点 -->
    <node name="spawn_model" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find urdf_a1)/urdf/urdf_a1.urdf -urdf -model urdf_a1"
          output="screen" />

    <!-- 标定完成发布节点 -->
    <node name="fake_joint_calibration" pkg="rostopic" type="rostopic"
          args="pub /calibrated std_msgs/Bool true" />
</launch>
